@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@600&family=Press+Start+2P&family=Xanh+Mono&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  color: black;

  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 0 0.01em rgba(0, 0, 0, 0.4), 0 0 0.1em rgba(0, 0, 0, 0.4), 0 0 0.1em rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  background-color: whitesmoke;

  word-wrap: break-word;
}